.prime-div{
    width: 100%;
/* background:linear-gradient(to bottom, #5DAEFF 0%,
        #87C8FF 20%,
        #CBE8FF 55%,
        #EEF8FF 80%,
        #FFFFFF 100%); */
}
.main-div{
   
    /* border: 2px solid black; */
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* height: 100vh; */
    padding: 10px;

}
.first-div{
    display: flex;
    justify-content: space-between;
    background-color: #5DAEFF;
    padding: 20px;
    border-radius: 10px 10px 0 0;
}
.search-div{
    width: 50%;
}
.search-div>h1{
  margin-bottom: 0;
}
.search-div>p{
    margin-top: 2px;
}
.search-div>div{
    display: flex;
}
.fa-solid{
    padding: 10px;
   display: flex; 
    height: 20px;
    /* width: 60px; */
    /* margin-right: 3px; */
    border-radius: 10px 0 0 10px;
    align-content: center;
    /* justify-content: center; */
    /* flex-direction: row; */
    background-color: white;

}

#city{
    width: 50%;
    height: 38px;
    border: none;
    outline: none; 
}
#btn{
    border-radius: 0 10px 10px 0;
    height: 40px;
    margin-left: -5px;
    border: none;
    width: 70px;
}
.img-div{
    /* width: 20%; */
    display: flex;
    justify-content: end;
    background-color: aliceblue;
    border: groove 3px blue;
    border-radius: 12px;
}
.img-div>img{
    height: 118px;
    width: 118px;
}
.img-div>h2{
    margin-right: 12px;
}
.weather-main{
    padding: 80px;
    background: linear-gradient(to bottom,
        #CBE8FF,#EEF8FF);
            display: flex;
    justify-content: center;
}
.current-weather{
    width: 45%;
        /* padding: 15px; */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: aliceblue;
    border-radius: 10px 0 0 10px;
    /* padding: 10px; */
    /* margin-top: 110px; */
}
.modify{
    background: none;
}
.left-side-cur{
    /* border-radius: 10px; */
    align-items: center;
    display: flex;
    flex-direction: column;
    font-size: 20px;
    margin: auto 0;
    /* width: 20%; */
    /* border: solid 1px black; */
    justify-content: center;
    /* background-color: aliceblue; */
    /* padding: 15px; */
}

.temp{
    font-size: 50px;
}
.temp-img{
    display:flex;
    align-items:center;
    margin-bottom: 10px;
}
#icon{
        width: 100px;
    height: 100px;
}
.right-side-cur{
    display: flex;
    flex-direction: column;
    align-items: center;
}
hr{
    width: 150px;
    border: outset black 2px;
}
.right-side-img{
    height: auto;
    width: 100px;
}
/* .condition-weather{
    margin-top: 90px;
        display: flex;
    flex-wrap: wrap;
} */
 .condition-weather{
       width: 30%;
    /* padding: 15px; */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    background-color: aliceblue;
    border-radius: 0 10px 10px 0;
    padding: 10px;
    /* margin-top: 110px; */
 }
 .temper{
    font-size: medium;
    column-gap: 10px;
    
 }
 #feelslike{
    background-color: aquamarine;
    border-radius: 10px;
    padding: 5px;
    font-size: 12px;
    font-weight: bold;
 }
 .box{
    gap: 15px;
    padding: 15px;
    display: flex;
    align-items: center;
    /* font-size: 20px; */
    min-width: 130px;
    border: groove 2px black;
    border-radius: 10px;
    height: 45px;
 }
 .tempf{
    font-size: 15px;
 }
 .right-side-sun{
        display: flex;
    align-items: center;
 }
#container{
  padding: 15px;
  background:#EEF8FF;
  display: flex;
  justify-content: space-evenly;
}
.forecastdiv{    
    min-width: 150px;
    border: groove 2px blue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;

}
.font{
    margin: 2px;
}
@media (max-width:1024px){
    .forecastdiv{
        min-width: 110px;
    }
    .weather-main{
        padding: 1px;
    }
}
@media (max-width:768px){
    .forecastdiv{
       min-width: 88px;
    }
    .font{
        font-size:10px;
    }
    .left-side-cur{
        font-size: 11px;
    }
    .box{
        gap: 5px;
    padding: 8px;
    height:29px;
    border: none;
    }
    .temp {
    font-size: 20px;
}
#icon {
    width: 50px;
    height: 50px;
}
.right-side-img{
    width: 50px;
}
hr{
    width: 112px;
}

.weather-main{
    padding: 10px;
}
}
@media (max-width:480px){
    .forecastdiv{
       min-width: 8px;
       width: 40px;
    }
    .sunfont{
        font-size: 10px;
    }
    #feelslike{
        font-size: 10px;
    }
    .temper{
        font-size: 12px;
    }
    .img-div{
       display: none;
    }
    .search-div{
        width: 100%;
    }
    .tempf{
        font-size: 8px;
}
    .font{
        font-size:7px;
        text-align: center;
    }
    .cloudf{
        width: 50px;
        height: auto;
    }
    .left-side-cur{
        font-size: 8px;
    }
    .box{
        gap: 5px;
    padding: 8px;
    height:29px;
    border: none;
    }
    .temp {
    font-size: 20px;
}
#icon {
    width: 50px;
    height: 50px;
}
.right-side-img{
    width: 40px;
}
hr{
    width: 80px;
}
.condition-weather{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(2,30px);
}
.weather-main{
    padding: 0px;
    display: block;
}
.current-weather{
    width: 100%;
}
}
